/* ------------------------- */
/* Custom properties */
/* ------------------------- */

:root {
    --clr-moderate-violet: 263 55% 52%;
    --clr-dark-grayish-blue: 217 19% 35%;
    --clr-dark-blackish-blue: 219 29% 14%;
    --clr-white: 0 0% 100%;

    --clr-light-gray: 0 0% 81%;
    --clr-light-grayish-blue: 210 46% 95%;

    --fs-300: 0.6875rem; /* 11px */
    --fs-400: 0.8125rem; /* 13px */
    --fs-500: 1.25rem; /* 20px */

    --ff-main: 'Barlow Semi Condensed', sans-serif;

    --fw-regular: 500;
    --fw-semi-bold: 600;
}

/* ------------------------- */
/* CSS reset */
/* Credit: https://www.joshwcomeau.com/css/custom-css-reset/ */
/* ------------------------- */

/* Use a more-intuitive box-sizing model */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

/* Set default font size to user's preferences to allow for proper rem/em sizing */
:root {
    font-size: 100%;
}

/* Remove default margin*/
* {
    margin: 0;
}

/* Allow percentage-based heights in the application */
html, body {
    height: 100%;
}

/* Typographic tweaks! Add accessible line-height, improve text rendering */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Remove default styling on a */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}

/* Avoid text overflows and set default font-weight */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-weight: 400; /* is this needed? */
}

/* Removes left padding on unordered lists */
ul {
    padding-left: 0;
}

/* Removes list style from li elements */
li {
    list-style: none;
}

/* Smaller line height for larger font sizes */
h1, h2, h3 {
    line-height: 1.1;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------------------- */
/* Utility classes */
/* ------------------------- */

/* Layout */
.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Image borders */
.border-none {
    border: none;
}

.border-purple {
    border: 2px solid hsl( var(--clr-moderate-violet));
}

.border-light-purple {
    border: 2px solid #A775F1;
}

/* Background colors */
.bg-clr-white {
    background-color: hsl( var(--clr-white) );
}

.bg-clr-purple {
    background-color: hsl( var(--clr-moderate-violet) );
}

.bg-clr-dark-gray {
    background-color: hsl( var(--clr-dark-grayish-blue) );
}

.bg-clr-very-dark-gray {
    background-color: hsl( var(--clr-dark-blackish-blue) );
}

/* Font styling */
.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.text-white {
    color: hsl( var(--clr-white) );
}

.text-white-accent-light {
    color: hsl( var(--clr-white) / 0.5);
}

.text-white-accent-med {
    color: hsl( var(--clr-white) / 0.7);
}

.text-gray {
    color: hsl( var(--clr-dark-grayish-blue) );
}

.text-gray-accent-light {
    color: hsl( var(--clr-dark-grayish-blue) / 0.5);
}

.text-gray-accent-med {
    color: hsl( var(--clr-dark-grayish-blue) / 0.7 );
}

.line-height-sm {
    line-height: 1.125rem; /* 18px */
}

.line-height-med {
    line-height: 1.5rem; /* 24px */
}

/* ------------------------- */
/* Component styling */
/* ------------------------- */

/* General styling */
body {
    font-family: var(--ff-main);
    padding-inline: 1.5rem;
    padding-top: 4rem;
    background-color: #ECF2F8;
}

/* Grid layout */
.grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five';
}

.testimonial-1 { /* Daniel */
    grid-area: one;
}

.testimonial-2 { /* Jonathan */
    grid-area: two;
}

.testimonial-3 { /* Jeanette */
    grid-area: three;
}
 
.testimonial-4 { /* Patrick */
    grid-area: four;
}

.testimonial-5 { /* Kira */
    grid-area: five;
}

.testimonial-img {
    aspect-ratio: 1;
    border-radius: 50%;
    width: 30px;
}

/* Testimonial blocks styling */
.testimonial-block {
    border-radius: 0.5rem;
    padding: 2rem;
}

.testimonial-block--main-quote {
    padding-top: 1rem;
}

.testimonial-block--second-quote {
    padding-top: 2rem;
}

.testimonial-1 {
    position: relative;
    z-index: 1;
}

.testimonial-1 > .testimonial-block--main-quote {
    position: relative;
    z-index: 3
}

.quotation-mark-img {
    position: absolute;
    top: 0;
    right: 15%;
    z-index: 2
}

@media (min-width: 30em) {
    .grid {
        grid-template-areas: 
        'one one'
        'two five'
        'three five'
        'four four';
    }
}

@media (min-width: 60em) {
    .grid {
        grid-template-areas: 
        'one one two five'
        'three four four five';
    }

    body {
        padding: 10rem;
    }
}
